.activityCreator {
    margin-bottom: 25px;
    align-items: center;
    font-family: "Raleway";
}

.activityItem {
    margin: 25px 0;
    border: 1px dashed rgba(230, 230, 230, 0.89);
    display: flex;
    align-items: center;
    font-family: "Raleway";
    padding: 25px 25px;
    a:hover{
        color: white ;
    }
    .imageContainer {
        float: left;
        margin-right: 30px;
        box-shadow: 1px 1px 1px rgb(206, 206, 206);
        width: 20%;
    }
    img {
        object-fit: inherit;
        width: 100%;
    }
    h2 {
        text-transform: uppercase;
        font-size: 1.3em;
        letter-spacing: 3px;
        flex-shrink: 2;
    }
    h3 {
        font-weight: 500;
        font-size: 1em;
        color: rgb(158, 158, 158);
    }
    p {
        flex-shrink: 3;
        font-size: 0.8em;
        text-align: justify;
        margin-bottom: 0;
    }
    &:hover {
        background-color: #D43444;
        color: white;
    }
    &:first-child {
        margin-top: 0px;
    }
}

.itemLink {
    text-decoration: inherit;
    color: inherit;
}

.backButton {
    float: right;
}

.activityList a {
    text-decoration: inherit;
}

#flexTitle {
    display: flex;
    h2 {margin: 10px; }
}

.btn{
    background-color: #dc3545;
    border-color: #dc3545;
    &:hover{
        background-color: darkred;
        border-color: white;
    }
}

.activityDescription {
    display: flex;
    flex-direction: column;
}

#buttonContainer {
    display: flex;
}

#editButton {z-index: 100;}
