.activityLower {
    display: grid;
    grid-template-columns: 75% 25%;
    margin-right: 25px;
    font-family: "Raleway";
    padding-top: 50px;
    h3 {
         font-size: 1.2em;
         font-weight: 600;
         margin-top: 0px;
     }
    p {
        padding-right: 50px;
        text-align: justify;
    }
    p, span {font-size: 1em;}
    a {
        margin-left: 10px;
        text-decoration: underline;
        color: grey;
        transition: all 0.2s;
        &:hover{color: #D43444;}
        &:active {color: black;}
    }
}

.activityDetails {
    padding: 25px;
    font-weight: 700;
    div{margin-bottom: 20px;}
    p {
        display: inline;
        margin-left: 10px;
    }
}

#activityHeader {
    margin-right: 25px;
    position: relative;
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        box-shadow: 1px 1px 5px black;
    }
    h1 {
        color: white;
        background-color: rgba(0, 0, 0, 0.5);
        position: absolute;
        font-size: 3em;
        top: 45%;
        padding: 5px 25px;
    }
}

.activityIcons {
    color: #D43444;
    position: relative;
}

.backButton {
    float: right;
    margin-bottom: 25px;
}

@media only screen and (max-width: 720px) {
    .activityLower {display: block;}
  }

.activityDescription button {
    width: 200px;
}