table {
border-collapse: collapse;
}

.algemeen {
    font-size: 18px;
    font-family: "Raleway";
    color: grey;
    width: 80%;
    text-align: center;
}

.labelColumn {
    width:290px;
    text-align: right;

}
.row {
    margin-top: 10px;
}
.col-3{
    text-align: right;
}

#loginButton {
    float: right;
}

