.dashBoardMenuItem {
    border: 1px rgb(192, 190, 190) solid;
    padding: 15px 30px;
    z-index: 2;
    position: relative;
}

/* a + a > .dashBoardMenuItem {
    border-top: none;
}*/


.dashBoardMenuItem h2{
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 0 !important;
}

.dashBoardMenuItem:hover{
    cursor: pointer;
    color: white;
}

.dashBoardMenuItem.active{
    border-color: rgba(212, 52, 68, 0.5);
    border-bottom: 1px rgba(212, 52, 68, 0.5) solid !important;
}

/*
 a ~ a > .dashBoardMenuItem {
    border-bottom: none;
}
*/
.dashBoardMenuItem {
    border-bottom: none;
}

a:last-child .dashBoardMenuItem {
    border-bottom: 1px rgb(192, 190, 190) solid;
}

 a.active + a .dashBoardMenuItem {
     border-top: none;
 }

.dashBoardMenuItem.active:before{
    content: "";
    height: 100%; 
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    border-left: 10px solid #D43444;
}

.dashBoardMenuItem:after { 
    content: "";
    height: 100%; 
    left: 0; 
    top: 0; 
    width: 0px;  
    position: absolute; 
    transition: all 0.3s ease 0s; 
    -webkit-transition: all 0.3s ease 0s; 
    z-index: -1;
    background: #D43444;
  }
  
.dashBoardMenuItem:hover:after { 
    width: 100%; 
}

@media screen and (max-width: 480px) {
    .dashboardMenuItem {
        border-left: none;
        border-right: none;
    }
  }