.dashboardMenu {
    width: 20%;
    margin-right: 30px;
}

.dashboardContent {
    width: 75%;
    border: 1px rgb(192, 190, 190) solid;
    padding: 25px 40px;
}

.dashboardMenu, .dashboardContent {
    float: left;
    background-color: white;
}

.dashboardContent h1 {
    margin: 0px;
}

@media screen and (max-width: 960px) {
    .dashboardMenu,
    .dashboardContent {
        width: 100%;
    }

    .dashboardMenu {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px) {
    .dashboardContent {
        border-left: none;
        border-right: none;
    }
  }