.homeContainer {
    display: flex;
    justify-content: space-between;
}

.homeText {
    position: relative;
    padding-top: 80px;
    flex-basis: 60%;
    flex-shrink: 5;
    h1 {
        font-family: "Rosario";
        font-size: 60px;
        white-space: pre-wrap;
        color: #D43444;
        margin: 0;
    }
    p {
        font-size: 18px;
        font-family: "Raleway";
        color: grey;
        width: 80%;
        margin-top: 20px;
    }
    a {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        font-size: 28px;
        font-family: "Raleway";
        font-weight: 700;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
        display: block;
        &:hover {
            color: #D43444;
        }
    }
}

.homeImg {
    flex-basis: 40%;
    flex-shrink: 3;
    img {
        float: right;
        display: inline;
        width: 100%;
        padding-top: 100px;
    }
}