.navBar {
    position: relative;
    overflow-y: auto;
}

.navLogo {
    float: left;
    display: inline;
    padding: 10px 0;
}

.navLogo img {
    height: 100px;
    width: auto;
}

.navLinks {
    float: right;
    display: inline;
}

li {
    float: left;
    list-style-type: none;
}
  
.navLinks li {
    text-align: center;
    padding: 25px;
}

li a {
    text-decoration: none;
    display: inline-block;
}

#registerLi {
    padding-left: 0px;
}

#registerButton {
    color: rgb(187, 187, 187);
    text-transform: none;
    padding-left: 10px;
    transition: color 0.5s ease;
    &:hover {
        background-color: white;
        color: black;
    }
}

#highlightButton {
    color: white;
}

.profileButtonContainer{
    position: relative;
    top: -8px;
}

.dropdownMenuItems, .dropdownMenuItems:hover {
    color: black;
}