.colDisplay {
    display: flex;flex-direction: row;

}

.profileBoxContent {
    width: 60%;
    border: 1px rgb(192, 190, 190) solid;
    padding: 25px 40px;
    margin-right: 25px;
}

.profileBoxItems {
    width: 30%;
    border: 1px rgb(192, 190, 190) solid;
    padding: 25px 40px;

}

.dropdownProfile {
    display: block;
}