#activityFilterList {
    padding: 0;
    margin-top: 10px;
    float: left;
    display: block;
}

#activityFilterList li {
    padding-right: 10px;
    color: #D43444;
    cursor: pointer;
}

#activityFilterList li,
#activityFilterList li ~ li:before {
    padding-right: 10px;
}

#activityFilterList li ~ li:before {
    content: "/";
    opacity: 0.3;
    color: black;
}

.dashBoardActivityContainer .activityList {
    float: left;
}

.dashBoardActivityContainer {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 960px) {
    #activityFilterList li {
        display: block;
        clear: left;
        float: none;
    }

    #activityFilterList li,
    #activityFilterList li ~ li:before {
        padding-right: 0px;
    }
    #activityFilterList li:before,
    #activityFilterList li ~ li:before {
        content: "> ";
        opacity: 0.3;
        color: black;
        cursor: default;
    }
}