.userItemRoot:hover {
    background-color: rgba(238, 238, 238, 0.3);
}

.userList a {
    text-decoration: inherit;
}

.userList p {
    margin-top: 20px;
    font-family: "Raleway";
    font-size: 1.2em;
}
.userItemRoot {
    display: flex;
    align-items: center;
    font-family: "Raleway";
    margin: 15px 0;
    padding: 0;
    box-shadow: 2px 2px 1px 1px rgba(238, 238, 238, 0.55),
    -2px -2px 0px 0px rgba(238, 238, 238, 0.35) !important;
    height: auto;
}

.userItemDetails {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    margin: 0 0;
}

.userItemDetails h1 {
    font-size: 1.2em;
    font-weight: 700;
    padding-bottom: 8px;
}

.userItemDetails h2 {
    font-size: 0.8em;
    padding-bottom: 5px;
}

.userItemDetails a {
    display: inline;
    margin-top: 10px;
    font-size: 0.6em;
    padding-bottom: 5px;
    margin-left: 10px;
    color: var(--primaryColor);
    cursor: pointer;
    transition-duration: 0.5s;
    text-transform: uppercase;
    font-family:'Rosario';
}

.userItemContent {
    flex: 1 0 auto;
}

.userItemAvatar {
    width: 75px;
    height: 75px;
    box-shadow: 1px 1px 1px rgb(206, 206, 206);
    overflow: hidden;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 100%;
}

.dashboardContent .spinnerContainer {
    position: relative;
    margin-left: 50%;
    left: -40;
    margin-top: 10%;
}

.roleChip {
    background-color: var(--primaryColor) !important;
    opacity: 0.6 !important;
}

.roleChip.inactive {
    background-color: rgba(0,0,0,0.2) !important;
}

.roleChip:hover {
    opacity: 1 !important;
}

.roleChip ~ .roleChip {
    margin-left: 10px;
}

.MuiChip-label {
    color: white;
    font-size: 0.8em;
    font-family: 'Raleway';
}

.roleConfirmButtonContainer{
    display: inline;
    color: rgba(0,0,0,0.5);
    transition: opacity 1.5s ease !important;
    cursor: pointer;
    font-size: 1.2em;
    padding: 10px 10px;
    padding-right: 14px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.5);
}

.roleConfirmButtonContainer:hover {
    color: limegreen;
    border-color: limegreen;
}

.searchContainer {
    display: inline;
    position: relative;
    min-width: 100px;
}

.searchContainer .MuiSvgIcon-root {
    position: absolute;
    top: 0px;
    left: 5px;
}

#searchInput {
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 35px;
    outline: 0;
    font-family: "Raleway";
    height: 30px;
    border:1px solid rgba(0, 0, 0, 0.15);
}

#searchInput:focus, #searchInput:hover {
    background-color: rgba(0, 0, 0, 0.03);

}

.MuiFormControlLabel-root, 
.MuiFormGroup-root {
    display: inline !important;
    margin-left: 30px;
}

.MuiFormGroup-root {
    margin-top: 8px;
}

@media screen and (max-width: 1280px) {
    .userItemAvatar {
        display: none !important;
    }

    .userItemContent {
        overflow-wrap: anywhere;
    }
}

@media screen and (max-width: 1350px) {
    .MuiFormControlLabel-root, 
    .MuiFormGroup-root {
        margin-left: 0px;
    }

    .searchContainer {
        display: block;
    }

    .searchContainer .MuiSvgIcon-root {
        top: 18px;
    }
}

@media screen and (max-width: 700px) {
    .roleControlsContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .roleChip,
    .roleChip ~ .roleChip,
    .roleControlsContainer a {
        margin-left: 0px;
        margin-bottom: 5px !important;
        width: auto;
    }

    .MuiFormControlLabel-root, 
    .MuiFormGroup-root {
        display:flex !important;
    }
}
