body {
  background-color: #F9F9F9;
}

.appContainer {
  width: 80%;
  margin: auto;
}

@media screen and (max-width: 480px) {
  .appContainer {
    width: 100%;
  }
}

.pageTitle h1 {
  font-family: "Rosario";
  font-size: 36px;
  margin-bottom: 25px;
  margin-top: 50px;
  font-weight: 700;
}

a:hover {
  text-decoration: none;
}

button:focus {
  outline: none;
}

a {
  color: black;
}


.spinnerContainer {
  position: relative;
  margin-left: 50%;
}

.spinnerContainer #redirectSpinner {
  left: -50;
  margin-top: 25%;
}
